.about {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 45vw;
    height: 100%;
    display: block;
    background-color: rgba(@color__tangerine, .5);
    position: absolute;
    top: 50%;
    transform: translate(-60%, -50%);
    z-index: 0;
    box-shadow: 0 20px 35px 0 rgba(@color__space, 0.2);
  }

  &__card {
    margin: 20px 100px 20px 0;
    z-index: 1;
  }

  &__info {
    width: 100%;
    max-width: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}